<footer>
    <div class="f-info">
        <div class="f-info-social">
            <!-- <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i> -->

            
            <a href="https://www.linkedin.com/in/anuj-kumar57/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/Anujkr8674" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>

            </a>

            <a href="https://www.facebook.com/profile.php?id=100008531618353" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/anujnick57/" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; WanderLust Pvt Ltd</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a> 
            <a href="/terms">terms</a> 
        </div>
    </div>
</footer>